#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las cartas */
  padding: 20px;
}
.user-search {
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-bottom: 20px; /* Espacio debajo para separar del contenido */
  display: flex;
  justify-content: center; /* Centra el input horizontalmente */
}

.user-search input {
  width: 100%; /* El input ocupa todo el ancho de su contenedor */
  max-width: 600px; /* Máximo ancho del input */
  padding: 10px; /* Espaciado dentro del input */
  font-size: 16px; /* Tamaño de la fuente */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 5px; /* Bordes redondeados */
  outline: none; /* Quitar el borde de enfoque por defecto */
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

.user-search input:focus {
  border-color: #007bff; /* Color de borde cuando el input tiene el foco */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave */
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 250px;
  background-color: #186ab7;
}

.card-header {
  text-align: center;
}

.card-header h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.card-header span {
  display: block;
  color: #000000;
}

.card-body {
  margin-top: 10px;
}

.card-body p {
  margin: 5px 0;
}

.card-body strong {
  color: #000000;
}

